@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.container {
    width: 100%;
    height: 100vh;
    background: linear-gradient(135deg, #04145c, #53699e, #acadd2);
    padding: 10px;
}

.calculator h1 {
    line-height:65px;
    font-weight: 600;
    font-size: 60px;
    margin: 200px 100px 20px 100px;
    color: #fff;
}

.calculator h1 span {
    color: #3c90b8;
}

.input-box {
    margin: 80px 100px;
    width: 100%;
    max-width: 540px;
    padding: 20px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.4);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.input-box .date {
    flex: 1;
    border: none;
    outline: none;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    font-size: 20px;
    color: #555;
    position: relative;
}

.input-box .calc-btn {
    padding: 10px;
    font-size: 21px;
    border: none;
    outline: none;
    border-radius: 5px;
    background-color: #3c90b8;
    color: #fff;
    font-weight: 500;
    cursor: pointer;
}

.input-box .date::-webkit-calendar-picker-indicator {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: auto;
    height: auto;
    position: absolute;
    background-position: calc(100% - 10px);
    background-size: 30px;
    cursor: pointer;
}

.calculator p {
    margin: 0 120px;
}

#result {
    display: none;
    font-size: 20px;
    color: #fff;
    animation: opacity .5s;
}

#result span {
    color: #3c90b8;
}

@keyframes opacity {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@media only screen and (max-width: 700px) {
    .calculator {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .input-box {
        margin: 35px 120px;
        flex-direction: column;
        justify-content: center;
        flex-wrap: wrap;
        width: 80%;
    }

    .input-box .date {
        width: 100%;
        margin: 0;
        margin-bottom: 20px;
    }
}